@model GamesGetGameViewModel

<table class="table table-info table-responsive table-hover">
    <tr>
        <th>Title</th>
        <th>Developer</th>
    </tr>
    <tr>
        <td>@Model.Title</td>
        <td>@Model.Developer</td>
    </tr>
</table>