@model HomeGetGameViewModel


<h1>@ViewBag.PageTitle</h1>
<table class="table table-primary table-hover">
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
    <tr>
        <th>@Model.Id</th>
        <th>@Model.Title</th>
        <th>@Model.Developer</th>
    </tr>
</table>

